.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.jj {
  width: 15%;

  margin-left: 10px;
}
@media only screen and (max-width: 580px) {
  .container1 {
    width: 15%;
    margin-left: 100px;
  }
}
.boxed label {
  display: inline-block;
  width: 140px;
  padding-left: -60px;
  padding: 10px;
  margin: 0 auto;
  border: solid 2px #ccc;
  transition: all 0.3s;
  border: 1px solid gray;
  border-radius: 7px;
  text-align: center;
}

.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  background-color: #38d39f;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.submit {
  background-color: #38d39f;
  width: 170px;
  padding: 10px;
}

.gond label {
  display: block;
  padding: 15px;
  position: relative;
  padding-left: 20px;
}
.gond label input {
  display: none;
}
.gond label span {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  top: -90%;
  position: relative;
}
input:checked + span {
  background: #38d39f;
  border-color: #38d39f;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.fff {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}
.here {
  margin-right: auto;
  margin-left: auto;
}

footer {
  background: #e0f2f7;
  /* <!--      position: absolute;--> */
  bottom: 0;
  width: 100%;
}

.option {
  border-radius: 20px;
  margin: 5px;
}

.badge {
  background-color: #8a8d90;
}

.question {
  color: #454a40;
}

.Review_main {
  margin: 0 auto;
  max-width: 900px;
  height: 100vh;
  overflow-y: scroll;
}
